/* Specification ========== */

*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Appetite';
    src: url(../fonts/Appetite.woff2) format('woff2'),
        url(../fonts/Appetite.woff) format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@keyframes floating_1 {
    0% {
        margin-top: 12px;
    }
    50% {
        margin-top: 30px;
    }
}

@keyframes floating_2 {
    0% {
        margin-bottom: -60px;
    }
    50% {
        margin-bottom: -30px;
    }
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6em;
    color: #5A3733;
    -webkit-font-smoothing: antialiased;
    
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Appetite', sans-serif;
    font-weight: 400;
    line-height: 1.2em;
}

p {
    margin: 0 0 10px;
}

section {
    padding: 70px 0 100px;
}

a {
    text-decoration: none;
    display: inline-block;
	color: inherit;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul, li {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

button:active, button:focus,
a:active, a:focus {
    outline: none;
}
  
button::-moz-focus-inner {
    border: 0;
}

/* Container */

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header */

.header {
    position: fixed;
    width: 100%;
    height: 85px;
    top: 0;
    right: 0;
    left: 0;
    background-color: #F8F7F1;
    box-shadow: 0 5px 3px 0 rgba(0,0,0,.25);
    z-index: 10;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.header__logo-link {
    transition: all .3s linear;
}

.header__logo-link:hover {
    transform: scale(1.05);
}

.header__menu-list {
    display: flex;    
}

.header__menu-item + .header__menu-item {
    margin-left: 20px;    
}

.header__menu-link {
    font-weight: 700; 
    transition: all .3 linear;   
}

.header__menu-link:hover {
    color: #EB6D2F; 
} 

.header__menu-link.active {
    color: #EB6D2F;    
}

.header__contacts-phone {
    margin-right: 5px;
}

.header__contacts a {
    padding: 10px;
}

/* Offer */

.offer {
    padding: 250px 0 150px;
    width: 100%;
    min-height: 640px;
    background-image: linear-gradient(167deg, rgba(90,55,51,0.8) 6%, rgba(235,109,47,0.8) 34%, rgba(255,216,50,0.8) 100%), url(../images/bg/bg6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.offer__inner {
    max-width: 665px;
    text-align: center;
    margin: 0 auto;
}

.offer__title {
    font-size: 72px;
    color: #5A3733;
    margin-bottom: 30px;
    text-shadow: 2px 1px 6px #5A3733;
}

.offer__descr {
    font-size: 18px;
    line-height: 1.4em; 
    font-weight: 700;  
    margin-bottom: 30px;
    text-shadow: 2px 1px 6px #5A3733;
}

.offer__btn {
    display: inline-block;
    font-family: inherit;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    padding: 20px 50px;
    line-height: 1.4em;
    min-width: 200px;
    color: #fff;
    background-color: #EB6D2F;
    border: 0;
    border-radius: 36px;
    outline: none;
    cursor: pointer;
    transition: all .3s linear;
}

.offer__btn:hover {
    color: #F8F7F1;
    background-color: #5a3733;
    transform: scale(1.05);
    box-shadow: 12px 10px 16px #5A3733;
}

/* Products */

.section__title {
    font-size: 48px;
    line-height: 1.2em;
    text-align: center;
    position: relative;
    margin-bottom: 125px;    
}

.section__title::after {
    content: '';
    position: absolute;
    display: block;
    background: url(../images/decor/decor_bee.png) no-repeat center center;
    z-index: 5;
    width: 300px;
    height: 29px;
    left: 50%;
    transform: translateX(-50%);
}

.products__inner {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.products-item {
    width: 33.3%;
    max-width: 300px;
	min-height: 440px;
    border: 2px solid #FFD832;
    border-radius: 10px;
	padding: 20px 20px 26px 20px;
	overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 12px 10px 16px #5A3733;
    text-align: center;
}

.products-item__wrapper {
	display: flex;
	width: calc(200% + 40px)
}

.products-item__content {
	width: 50%;
	margin-right: 0;
	transform: translateX(-100%);
	transition: .5s all
}

.products-item__content_active {
	transform: translateX(0);
	margin-right: 20px
}

.products-item__img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	height: 187px;
}

.products-item__title {
	margin-top: 20px;
	color: #5A3733;
	font-size: 30px;
    line-height: 1.3em;
    max-width: 255px;
}

.products-item__descr {
	margin-top: 16px;
    max-width: 249px;
}

.products-item__link {
    display: inline-block;
    min-width: 170px;
    margin-top: 17px;
    padding: 15px 34px;
    color: #5A3733;
    background-color: #FFD832;
    font-family: inherit;
	font-size: 14px;
	font-weight: 700;
	text-decoration: none;
	text-align: center;
    text-transform: uppercase;
    border: 0;
    outline: none;
    border-radius: 36px;
    text-align: center;
    vertical-align: middle;
    transition: all .3s linear;
}

.products-item__link:hover {
    color: #FFD832;
    background-color: #5A3733;
    transform: scale(1.05);
    box-shadow: 12px 10px 16px #5A3733;
}

.products-item hr {
	background-color: #EB6D2F;
	margin-top: 19px;
	margin-bottom: 21px;
	border-bottom: none;
}

.products-item__price {
	font-size: 20px;
	font-weight: 700;
}

.products-item__list {
	position: relative;
	width: 50%;
	margin-left: 20px;
	transform: translateX(0);
	padding-right: 20px;
	transition: .5s all;
	padding-left: 19px;
	margin-bottom: 0;
}

.products-item__list_active {
	transform: translateX(-100%);
	margin-left: 0;
}

.products-item__list ul {
    list-style-type: none;
}

.products-item__list li {
	position: relative;
	margin-bottom: 20px;
}

.products-item__list li:before {
	content: '';
    position: absolute;
    display: block;
	width: 20px;
	height: 20px;
	background: url(../images/bee_icons/bee1.svg) no-repeat center center;
	left: -25px;
    top: 7px;
    z-index: 5;
}

.products-item__back {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(calc(-50% - 19px));
    display: inline-block;
    min-width: 170px;
    margin-top: 17px;
    padding: 15px 34px;
    color: #5A3733;
    background-color: #FFD832;
    font-family: inherit;
	font-size: 14px;
	font-weight: 700;
	text-decoration: none;
	text-align: center;
    text-transform: uppercase;
    border: 0;
    outline: none;
    border-radius: 36px;
    text-align: center;
    vertical-align: middle;
    transition: all .3s linear;
}

.products-item__back:hover {
    color: #FFD832;
    background-color: #5A3733;
    box-shadow: 12px 10px 16px #5A3733;
}

/* Features */

.features {
    background-color: #FFD832;
    position: relative;   
}

.features::before {
    position: absolute;
    content: "";
    top: -40px;
    left: 0;
    right: 0;
    width: 100%;
    height: 195px;
    background-image: url("../images/bg/honey-bg.png");
    background-repeat: repeat-x;
}

.features__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.features__item {
    width: 25%;
    min-width: 200px;
    text-align: center;
    padding: 10px;
}

.features__title {
    font-size: 24px;
    line-height: 1.3em;
    margin: 10px 0;
}

.features__img {
    position: relative;
    width: 180px;
    margin: 0 auto;
}

.features__img::after {
    content: '';
    position: absolute;
    display: block;
    width: 70px;
    height: 70px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.features__img-money::after {
    background: url(../images/features/money.svg);
}

.features__img-bee::after {
    background: url(../images/features/beehive.svg);
}

.features__img-patent::after {
    background: url(../images/features/contract.svg);
}

.features__img-honey::after {
    background: url(../images/features/honey.svg);
}

/* Apiary */

.apiary {
    background-image: linear-gradient(191deg, rgba(90,55,51,0.8) 0%, rgba(235,109,47,0.8) 46%, rgba(255,216,50,0.8) 84%), url(../images/bg/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

.apiary__photo {    
    min-height: 400px;
    position: relative;
    max-width: 800px;
    margin: 50px auto 100px;
    text-align: center;
}

.card {
    width: 100%;
    height: 100%;
    box-shadow: 3px 3px 5px #5A3733;
    position: absolute;
    transition: all 0.5s linear;
    left: 10%;
    top: 15%;
    cursor: pointer;  
}

.left {
    left: -2000px;
}

.right {
    right: 2000px;
}

/* Honey */

.honey {
    background: url('../images/bg/honeycomb-bg1.jpg') center repeat-y;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    z-index: 5;
    overflow: hidden;
}

.honey__bee-icon-right {
    position: absolute;
    margin-top: 12px;
    animation-name: floating_1;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    animation-iteration-count: infinite;
    top: 120px;
    right: 200px;
}

.honey__bee-icon-left {
    position: absolute;
    margin-bottom: -60px;
    animation-name: floating_2;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);    
    animation-iteration-count: infinite;    
    bottom: 150px;
    left: 250px;
}

.honey-faq__items::before {
    position: absolute;
    content: "";
    top: 80px;    
    right: 0;
    width: 380px;
    height: 328px;
    background: url("../images/honey-faq/flowers_1.png") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    z-index: -1;
}

.honey-faq__items::after {
    position: absolute;
    content: "";
    bottom: 50px;    
    left: 0;
    width: 492px;
    height: 313px;
    background: url("../images/honey-faq/flowers_2.png") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    z-index: -1;
}

.honey-faq__items {
    max-width: 600px;
    margin: 60px auto;
    background-color: transparent;
}

.honey-faq__item {
    margin-bottom: 5px;
    border: 3px solid #FFD832;
    border-radius: 30px;
    background-color: #EB6D2F;    
}

.honey-faq__title {
    display: block;
    padding: 10px 15px;
    position: relative;
    font-size: 15px;
    color: #5A3733;
    font-weight: 700;
    cursor: pointer;
    border: 2px solid #FFD832;
    border-radius: 30px;
    transition: color .3s linear;
}

.honey-faq__title:hover {
    color: #FFD832;
}

.honey-faq__title:after {
    content: "";
    display: block;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: #5A3733 transparent transparent transparent;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}

.honey-faq__input {
    width: 0;
    height: 0;
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}

.honey-faq__input:checked ~ .honey-faq__title {
    background-color: #FFD832;
    color: #5A3733;    
}

.honey-faq__input:checked ~ .honey-faq__title:after {
    border-style: solid;
    border-width: 0 5px 8px 5px;
    border-color: transparent transparent #5A3733 transparent;
}

.honey-faq__input:checked ~ .honey-faq__text {
    display: block;
}

.honey-faq__text {
    display: none;
    padding: 10px 15px;
    font-size: 15px;
}

/* Reviews */

.reviews {
    background-color: #F8F7F1;
}

.reviews__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #5A3733;
    border-radius: 20px;
    padding: 10px;
    min-height: 200px;
    max-width: 500px;
}

.reviews__photo {    
    max-width: 150px;
    width: 30%;
    border: 3px solid #F8F7F1;
    overflow: hidden;
}

.reviews__img {
    border-radius: 50%;
}

.reviews__info {
    max-width: 350px;
    width: 70%;
    padding: 15px;
}

.reviews__author {
    font-size: 20px;
    font-weight: 700;
}

.reviews__date {
    margin-bottom: 10px;
}

.reviews__text {
    font-style: italic;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
    left: -1%;
    top: -40px;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 8px;
}

.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
}

.swiper-pagination-bullet-active {
    background: #EB6D2F;
}

/* Contacts */

.footer {
    background-color: #F8F7F1;
	position: relative;
}

.footer__contacts iframe {
	width: 100%;
	height: 630px;
	border: none;
}

.footer__info {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 250px;
	height: 250px;
	background-color: #EB6D2F;
	padding: 30px 50px;
}

.footer__addr,
.footer__phone{
	margin-bottom: 20px;
	color: #fff;
	font-size: 17px;
	line-height: 20px;
	font-weight: 700;
	text-align: center;
}

.footer__phone {
	display: block;
    transition: color .3s linear;
}

.footer__phone:hover {
	color: #5A3733;
}

.footer__social {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer__social-item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border: 2px solid #fff;
	border-radius: 100%;
    margin: 0 10px;
    transition: all .3s linear;
}

.footer__social-item:hover {
    border-color: #5A3733;
    background-color: #5A3733;
    transform: scale(1.05);
    box-shadow: 12px 10px 16px #5A3733;
}

.footer__social-item img {
    height: 27px;    
}

.footer__copyright {
    text-align: center;
    padding: 20px 0;
}

.footer__logo {
    width: 150px;
    margin: 0 auto;
}

.footer__logo-link {    
    transition: all .3s linear;
}

.footer__logo-link:hover {
    transform: scale(1.05);
}

.footer__copyright-text,
.footer__copyright-author {
    font-weight: 300;
    font-style: italic;
}

.footer__copyright-author a {
    font-weight: 700;
    transition: color .3s linear;
}

.footer__copyright-author a:hover {
    text-decoration: underline;
    color: #EB6D2F;
}

/* To top */

.footer__to-top {
    display: none;
    border: none;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    right: 30px;
    bottom: 30px;    
    background-color: transparent;
    transition: background-color 0.3s linear;
    z-index: 20;
}

.footer__to-top:hover {
    background-color: #EB6D2F;
}

.footer__to-top img {
    display: block;
    width: 100%;
}

/* Burger menu */

.nav-toggle {
    display: none;
    width: 50px;
    padding: 10px 0;
    position: absolute;
    top: 5px;
    right: 35px;
    z-index: 30;   
    border: 0;
    border-radius: 50%;
    background: none;
    cursor: pointer;
    transition: all .3s linear;
}

.nav-toggle:hover {
    background-color: #FFD832;
    transform: scale(1.05);
    box-shadow: 12px 10px 16px #5A3733;
}

/* Modal */

.overlay {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
    background-color: rgba(0, 0, 0, .56);
    z-index: 50;
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 380px;
	min-height: 400px;
	background-color: #F8F7F1;
    padding: 38px 40px 40px 40px;
    z-index: 100;
    width: 100%;
}

.modal__close {
	position: absolute;
	top: 0;
	right: -40px;
	font-size: 41px;
	line-height: 21px;
	color: #EB6D2F;
	cursor: pointer;
}

.modal__subtitle {
	color: #5A3733;
	font-size: 18px;
	font-weight: 900;
	text-align: center;
}

.modal__descr {
	text-align: center;
}

.modal_mini {
	min-height: 140px;
}

.modal .error {
	border: 1px solid red;
}

.modal label.error {
	border: none;
	text-align: center;
	margin-bottom: 15px;
}

#consultation,
#thanks {
	display: none;
}

.modal-form {
	margin-top: 25px;
	display: flex;
	flex-direction: column;
    max-width: 300px;
    width: 100%;
}

.modal-form input {
	height: 50px;
	border-radius: 6px;
	background-color: #fff;
	margin-bottom: 15px;
	border: none;
	padding: 0 20px;
    color: #5A3733;
    font-family: inherit;
	font-size: 14px;
	font-weight: 300;
}

.modal-form input:nth-child(3) {
	margin-bottom: 20px
}

.modal-form input::placeholder {
    color: #5A3733;
    font-family: inherit;
	font-size: 14px;
	font-weight: 700;
}

.modal-form__button {
    display: inline-block;
    min-width: 170px;
    padding: 15px 34px;
    color: #5A3733;
    background-color: #FFD832;
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    border: 0;
    outline: none;
    border-radius: 36px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    transition: all .3s linear;
}

.modal-form__button:hover {
    color: #F8F7F1;
    background-color: #5a3733;
    transform: scale(1.05);
    box-shadow: 12px 10px 16px #5A3733;
}

/* Media */

@media (max-width: 1199px) {
    .offer__title {
        font-size: 65px;
    }
}

@media (max-width: 991px) {
    .header__menu-list {
        display: none;
        flex-direction: column;        
        position: absolute;
        width: 50%;
        top: 85px;
        right: 0;
        background-color: #FFD832;
        border-left: 2px solid #5A3733;
        border-bottom: 2px solid #5A3733;
        box-shadow: 12px 10px 16px #5A3733;
    }

    .header__menu-list.show {
        display: flex;
    }

    .header__menu-link {
        display: block;
        padding: 15px 50px;
    }

    .header__menu-item + .header__menu-item {
        margin-left: 0;
    }

    .header__contacts {
        display: none;
    }

    .nav-toggle {
        display: block;
    }

    .offer__title {
        font-size: 55px;
        line-height: 1.2em;
    }

    .offer__descr {
        font-size: 16px;
    }

    .products__inner {
        flex-direction: column;
        align-items: center;
    }

    .products-item {
        width: 100%;
    }

    .features__item {
        width: 50%;
    }
}

@media (max-width: 767px) {
    .offer__title {
        font-size: 45px;
        margin-bottom: 18px;
    }

    .section__title {
        font-size: 36px;
    }

    .footer__to-top {
        width: 60px;
        height: 60px;
        right: 20px;
        bottom: 20px; 
    }

    .reviews__item {
        width: 100%;
        margin: 0 auto;
    }
}

@media (max-width: 575px) {

    .header__menu-list {
        width: 100%;
        border-left: none;
    }

    .offer__title {
        font-size: 38px;
    }

    .section__title {
        margin-bottom: 95px;
    }

    .features__item {
        width: 100%;
    }

    .reviews__author {
        font-size: 16px;
    }

    .reviews__text {
        font-size: 12px;
    }

    .modal__close {
        right: 0;
    }
}